<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-text color="danger" class="ion-text-center">
        <h1>Horario Harnina</h1>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item>
    <h3  class="ion-text-center">Horario de : {{nombreCurso}}</h3>

  </ion-item>
  <ion-button color="danger" (click)="mostrarHorarioClase()" style="text-align:center">Mostrar Horario</ion-button>
  <ion-grid>
    <ion-row >
      <ion-col *ngFor="let dia of cabezera">
        <div>{{dia}}</div>
      </ion-col>
    </ion-row>
    <ion-row class="horario" *ngFor="let hora of horasNoRepetidas">
      <ion-col class="horario">
        <div>{{hora}}</div>
      </ion-col>
      <ion-col class="horario" *ngFor="let asig of obtenerAsignatura(hora) ">{{asig}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>